.container{
  margin: 0 20px 20px 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
body {
  background-color: #907da0;
}
.photo {
    width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  filter: grayscale(0.2) brightness(1.05);
  transition: .3s;
}
.header {
  background-color: rgb(238, 186, 16);
}

h1 {
  font-family: 'DM Sans'; 
  font-size: 50px;
  font-weight: 800;
  }
.list-nav {
  list-style-type: none;
}
.nav-item {
display: inline;
font-family: 'DM Sans';
font-variant: small-caps;
font-size: 25px;
margin-right: 63px;
}
.nav-link {
  text-decoration: none;
  color: rgba(51, 9, 129, 0.749);
    }
    .nav-link:hover {
      font-weight: 700;
    }
.menu {
  font-size: 20px;
  }
.menunav {
  flex-direction: row-reverse;
  margin: 0 auto;
  min-height: 50px;
  }
.name {
  display: flex;
  justify-content: center;
}
.skills {
  font-size: 16px;
  align-items: center;
}
.container-f {
  display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
}
.rsschool {
        width: 90px;
        
  }